body {
    background-color: #2A2A2B;
}

h2 {
    text-align: center;
    border-bottom: 5px solid white;
    width: 300px;
    margin: 20px auto;
    padding-bottom: 10px;
    color: white;
}

h3, h4 {
    text-align: center;
    padding-bottom: 10px;
    color: white;
}

html {
    scroll-behavior: smooth;
}

/* navBar */
.customNav {
    position: sticky;
    width: 100%;
    background: url("../images/transparency.png");
    background-color: transparent !important;
    background-size: cover;
    z-index: 10;
  }
  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }
  .navbar-brand img {
    padding-right: 15px;
    width: 85px;
  }
  .nav-item {
    margin: 0px 15px;
  }

  .customNav a {
    color: white !important;
  }

  .navbar-nav a:hover {
    color: gray !important;
  }

/* Jumbotron  */
  .jumbotron {
    background-image: url(../images/JB.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
/* Jumbotron copy */
  .jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: white;
    text-align: center;
    background: url("../images/transparency.png");
    background-color: transparent !important;
    border-radius: 20px;
    padding: 1.5em;
  }

/* About */

#aboutGrid {
    margin: 0px 5%;
    display: grid;
    grid-template-rows: 400px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "about-text about-text about-stack";
}

#about-text {
    grid-area: "about-text";
}

#about-stack {
    grid-area: "about-stack";
}


.aboutGridArea {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
}

.about p {
    font-size: larger;
    color: white;
    text-align: center;
    margin: 20px;
}

.html:hover {
    color: #E44D26;
    text-shadow: 1px 1px 10px #e44d26;
}

.css:hover {
    color: #1C73BA;
    text-shadow: 1px 1px 10px #1C73BA;
}

.BS:hover {
    color: #523A76;
    text-shadow: 1px 1px 10px #523A76;
}

.JS:hover {
    color: #E4D04A;
    text-shadow: 1px 1px 10px #E4D04A;
}

.react:hover {
    color: #5BCFEE;
    text-shadow: 1px 1px 10px #5BCFEE;
}

.node:hover {
    color: #71AC59;
    text-shadow: 1px 1px 10px #71AC59;
}

/* Cards */

.cardContainer {
    margin-bottom: 15px;
}

.card {
    margin: 0 auto;
    text-align: center;
}

.card img {
    max-width: 650px;
    min-height: 300px;
    max-height: 300px;
    opacity: .75;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.card img:hover {
    max-width: 650px;
    max-height: 300px;
    opacity: 1;
}

.btn {
    background-color: ;
}

/* Footer */

footer p {
    color: white;
    text-align: center;
    margin: 40px;
}

footer img {
    display: inline-block;
    align-items: center;
    justify-content: space-around;
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
}

